@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased font-sans text-wood-800;
}

[dir='rtl'] {
  text-align: right;
}

[dir='rtl'] .text-start {
  text-align: start;
}

[dir='ltr'] {
  text-align: left;
}

.opacity-0 {
  opacity: 0;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}
